<div class="conteiner__menu-bar">
  <div class="menu-bar__header">
    <div class="menu-bar__logo">
      <a [routerLink]="['']">
        <img src="../../../assets/IMG/Icons/logo.png" alt="" />
      </a>
      <button
        [class.btnOpen]="menuVariable"
        class="btn-open-menu"
        (click)="openMenu()"
      >
        <i class="bi bi-list"></i>
      </button>

      <button
        [class.btnclose]="menuVariable"
        class="btn-close-menu"
        (click)="openMenu()"
      >
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="menu-bar__phrase">
      <div class="phraseOne">
        <h3>O que você quer preparar hoje?</h3>
        <br />
      </div>
      <div class="phraseTwo">
        <h5>As melhores receitas selecionadas com muito amor!</h5>
      </div>
    </div>
  </div>
  <div class="menu-bar__menu" [class.menuClass]="menuVariable">
    <ul>
      <li>
        <a [routerLink]="['categoria', 'Carne']" (click)="openMenu()">Carne</a>
      </li>
      <li>
        <a [routerLink]="['categoria', 'Aves']" (click)="openMenu()">Aves</a>
      </li>
      <li>
        <a [routerLink]="['categoria', 'Do Mar']" (click)="openMenu()"
          >Do Mar</a
        >
      </li>
      <li>
        <a [routerLink]="['categoria', 'Doces']" (click)="openMenu()">Doces</a>
      </li>
      <li>
        <a [routerLink]="['categoria', 'Massas']" (click)="openMenu()"
          >Massas</a
        >
      </li>
      <li>
        <a [routerLink]="['categoria', 'Bebidas']" (click)="openMenu()"
          >Bebidas</a
        >
      </li>
      <li>
        <a [routerLink]="['categoria', 'Sopas']" (click)="openMenu()">Sopas</a>
      </li>
      <li>
        <a [routerLink]="['categoria', 'Tem +']" (click)="openMenu()">Tem +</a>
      </li>
      <li *ngIf="!isAuth">
        <a [routerLink]="['login']" (click)="openMenu()"> Login </a>
      </li>
      <li class="user" *ngIf="isAuth">
        <a>{{ user.name.split(' ')[0] }}</a>
        <ul class="sub_menu">
          <li>
            <a>Receitas favoritas</a>
          </li>
          <li>
            <a>Envie sua receita</a>
          </li>
          <li>
            <a (click)="logout()">Sair</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div [class.overlay-menu]="overlayVariable"></div>
</div>
