<div class="conteiner__menu-bar">
  <div class="menu-bar__header">
    <div class="menu-bar__logo">
      <a [routerLink]="['']">
        <img src="../../../assets/IMG/Icons/logo.png" alt="" />
      </a>
    </div>
    <div class="menu-bar__phrase">
      <div class="phraseOne">
        <h3>O que você quer preparar hoje?</h3>
        <br />
      </div>
      <div class="phraseTwo">
        <h5>As melhores receitas selecionadas com muito amor!</h5>
      </div>
    </div>
  </div>
  <div class="menu-bar__menu">
    <ul>
      <li><a [routerLink]="['categoria', 'Carne']">Carne</a></li>
      <li><a [routerLink]="['categoria', 'Aves']">Aves</a></li>
      <li><a [routerLink]="['categoria', 'Do Mar']">Do Mar</a></li>
      <li><a [routerLink]="['categoria', 'Doces']">Doces</a></li>
      <li><a [routerLink]="['categoria', 'Massas']">Massas</a></li>
      <li><a [routerLink]="['categoria', 'Bebidas']">Bebidas</a></li>
      <li><a [routerLink]="['categoria', 'Sopas']">Sopas</a></li>
      <li><a [routerLink]="['categoria', 'Tem +']">Tem +</a></li>
      <li><a [routerLink]="['']">Dicas</a></li>
    </ul>
  </div>
</div>
