.conteiner__categoria {
  max-width: 980px;
  margin: 0 auto;
}

.categoria__title {
  text-align: center;
}

.categoria__title>h2 {
  font-size: 6rem;
  color: #00340C;
  font-family: "Dancing Script", cursive;
}

.categoria__box-recipe-line-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-recipe__sub-filter {
  width: 100%;
}

.box-recipe__sub-filter>.filter_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-recipe__sub-filter>.filter_btn>h5 {
  list-style: none;
  font-size: 1.5rem;
  color: #03400c;
  margin-right: 15px;
}

.box-recipe__sub-filter>.filter_btn>.show-btn,
.box-recipe__sub-filter>.filter_btn>.hide-btn {
  width: 32px;
  height: 32px;

  border: none;
  background: none;

  color: #00340C;
  font-size: 32px;
  cursor: pointer;

}


.box-recipe__sub-filter>.lista-subCategory {
  display: flex;
  justify-content: space-between;
}

.lista-subCategory>ul>li {
  list-style: none;
}

.lista-subCategory>ul>li>a {
  display: flex;
  align-items: center;
  color: #000;
}

.lista-subCategory>ul>li>a>img {
  width: 64px;
  height: 64px;
  margin: 15px 15px 15px 0;

}

.categoria__box-recipe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
