<div class="conteiner__categoria">
  <div class="categoria__title">
    <h2>{{ titleCat }}</h2>
  </div>
  <div class="categoria__box-recipe-line-one">
    <div class="box-recipe__sub-filter">
      <h5>Filtrar por:</h5>
      <ul>
        <li>
          <a href="">
            <img src="../../../assets/IMG/img-receitas/Foto-NI.jpg" alt="" />
            <h5>SubFiltro 1</h5>
          </a>
        </li>
        <li>
          <a href="">
            <img src="../../../assets/IMG/img-receitas/Foto-NI.jpg" alt="" />
            <h5>SubFiltro 2</h5>
          </a>
        </li>
        <li>
          <a href="">
            <img src="../../../assets/IMG/img-receitas/Foto-NI.jpg" alt="" />
            <h5>SubFiltro 3</h5>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="categoria__box-recipe">
    <div *ngFor="let recipe of recipes">
      <app-card-recipe
        urlImg="{{ recipe.Foto }}"
        titleReceita="{{ recipe.NomeDaReceita }}"
      ></app-card-recipe>
    </div>
  </div>
</div>
