<div class="conteiner__form-contato">
  <form action="">
    <div class="input-group">
      <input type="text" id="name" required />
      <label for="name">
        <i class="bi bi-person-circle"></i>
        Seu nome:
      </label>
    </div>
    <div class="input-group">
      <input type="email" id="email" required />
      <label for="email">
        <i class="bi bi-envelope"></i>
        Email:
      </label>
    </div>
    <div class="input-group">
      <textarea id="message" rows="8" required></textarea>
      <label for="message">
        <i class="bi bi-wechat"></i>
        Sua mensagem</label
      >
    </div>
    <button type="submit">Enviar</button>
  </form>
</div>
