<div class="conteiner__recipe">
  <div class="recipe__header">
    <div class="recipe__header__name">
      <h1>{{ recipes.nomeDaReceita }}</h1>
    </div>
    <div class="recipe__header__photo">
      <div class="photo">
        <img [src]="startUrl + recipes.foto" alt="" />
        <div class="quemMandou">
          <h1 *ngIf="user.isAdmin">{{ recipes.quemMandou }}</h1>
          <h1 *ngIf="!user.isAdmin">{{ user.name }}</h1>
        </div>
        <h5
          class="status"
          *ngIf="recipes.resposta == 'Verificando'"
          [ngStyle]="{ color: 'white' }"
        >
          <i class="bi bi-chevron-down"></i>
        </h5>
        <h5
          class="status"
          *ngIf="recipes.resposta == 'Aprovado'"
          [ngStyle]="{ color: 'green' }"
        >
          <i class="bi bi-check2"></i>
        </h5>
        <h5
          class="status"
          *ngIf="recipes.resposta == 'Negado'"
          [ngStyle]="{ color: 'red' }"
        >
          <i class="bi bi-x-lg"></i>
        </h5>
      </div>

      <h5 class="notificacoes">
        * Essas estimativas podem variar dependendo das técnicas de cozinha
        individuais e dos ingredientes específicos utilizados.
      </h5>
    </div>
  </div>
  <div class="recipe__description">
    <ul>
      <li>
        <img src="../../../assets/IMG/Icons/icon-tempo.png" alt="" />
        <h5>{{ recipes.tempoDePreparo }}</h5>
      </li>
      <li>
        <img src="../../../assets/IMG/Icons/icon-porcoes.png" alt="" />
        <h5>{{ recipes.porcoes }} Porções</h5>
      </li>
      <li>
        <img src="../../../assets/IMG/Icons/icon-dificuldade.png" alt="" />
        <h5>{{ recipes.nivelDeDificuldade }}</h5>
      </li>
    </ul>
  </div>
  <div class="recipe">
    <br />
    <hr />
    <div class="recipe__ingredient">
      <div class="ingredient__icon">
        <img src="../../../assets/IMG/Icons/icon-ingredientes.png" alt="" />
        <h5>Ingredientes:</h5>
      </div>
      <!-- ### Lista Ingredientes ### -->
      <div class="ingredient__list">
        <div class="mainlist">
          <ul>
            <li
              *ngFor="
                let ingredient of recipes.ingredientes.slice(
                  0,
                  recipes.ingredientes.length / 2 + 1
                );
                let i = index
              "
            >
              {{ i + 1 }}) {{ ingredient }}
            </li>
          </ul>

          <ul>
            <li
              *ngFor="
                let ingredient of recipes.ingredientes.slice(
                  getSecondColumnIndex(recipes.ingredientes.length)
                );
                let i = index
              "
            >
              {{ i + 1 + getSecondColumnIndex(recipes.ingredientes.length) }})
              {{ ingredient }}
            </li>
          </ul>
        </div>
        <div class="extra-recipe" *ngIf="hasExtra">
          <div *ngFor="let extra of recipes.extra">
            <h5>{{ extra.nomeDaReceitaExtra }}:</h5>
            <div class="secondaryList">
              <ul>
                <li
                  *ngFor="
                    let ingredient of extra.ingredientes.slice(
                      0,
                      extra.ingredientes.length / 2 + 1
                    );
                    let i = index
                  "
                >
                  {{ i + 1 }}) {{ ingredient }}
                </li>
              </ul>

              <ul>
                <li
                  *ngFor="
                    let ingredient of extra.ingredientes.slice(
                      getSecondColumnIndex(extra.ingredientes.length)
                    );
                    let i = index
                  "
                >
                  {{ i + 1 + getSecondColumnIndex(extra.ingredientes.length) }})
                  {{ ingredient }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br />
      <hr />
      <div class="recipe__method-of-preparation">
        <div class="method-of-preparation__icon">
          <img src="../../../assets/IMG/Icons/icon-preparo.png" alt="" />
          <h5>Modo de fazer:</h5>
        </div>
        <div class="method-of-preparation">
          <p>{{ recipes.modoDeFazer }}</p>
          <!-- extra recipe Modo de fazer -->
          <div class="extra-recipe" *ngIf="hasExtra">
            <div *ngFor="let extra of recipes.extra">
              <hr />
              <h5>{{ extra.nomeDaReceitaExtra }}:</h5>
              <div class="method-of-preparation">
                <p>{{ extra.modoDeFazer }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
