<div class="conteiner__footer-box">
  <div class="footer-box__logo">
    <img src="../../../assets/IMG/Icons/logo-end.png" alt="" />
  </div>
  <div class="footer-box__contatos">
    <div class="footer-box__social-media">
      <ul>
        <li>
          <a href=""><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href=""><i class="bi bi-pinterest"></i></a>
        </li>
        <li>
          <a href=""><i class="bi bi-youtube"></i></a>
        </li>
      </ul>
    </div>
    <div class="footer-box__contact">
      <a href="mailto:maridaonacozinha155@gmail.com"><h1>FALE CONOSCO</h1></a>a
    </div>
  </div>
  <div class="footer-box__copyright"></div>
</div>
