<div class="conteinner__login flex-all-collun-center">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="submit()"
    class="flex-all-collun-center"
  >
    <div class="title_logo">
      <img src="../../../assets/IMG/Icons/logo.png" alt="" />
      <h3>Fazer login</h3>
    </div>

    <text-input
      [control]="fc.email"
      [showErrorWhen]="isSubmitted"
      type="email"
      label="Email:"
    ></text-input>

    <text-input
      [control]="fc.password"
      [showErrorWhen]="isSubmitted"
      type="password"
      label="Senha:"
    ></text-input>

    <div class="btns">
      <a routerLink="/registro" [queryParams]="{ returnUrl: returnUrl }">
        Criar Conta
      </a>
      <button type="submit">Login</button>
    </div>
  </form>
</div>
