<div class="conteiner__carousel">
  <!-- Inicio carrossel Carne -->
  <div class="carousel-box" *ngIf="isRecipe">
    <ngx-slick-carousel
      class="carousel"
      #slickModalCarne="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem *ngFor="let recipe of recipesCarne">
        <div class="slide">
          <img
            src="../../../assets/IMG/img-receitas/{{
              recipe.foto[0].urlFoto
            }}.jpg"
            alt=""
          />
          <h5>{{ recipe.nomeDaReceita }}</h5>
        </div>
      </div>
    </ngx-slick-carousel>
    <div class="navigation-container">
      <button (click)="slickModalCarne.slickPrev()" class="prevArrow">
        <i class="bi bi-caret-left"></i>
      </button>
      <button (click)="slickModalCarne.slickNext()" class="nextArrow">
        <i class="bi bi-caret-right"></i>
      </button>
    </div>
  </div>
</div>
