<div class="conteiner__form-recipe">
  <form action="">
    <fieldset>
      <legend>Receita:</legend>
      <div class="input-group">
        <input type="text" id="name" required />
        <label for="name"> Nome da receita: </label>
      </div>
      <div class="input-group">
        <textarea id="ingredient" rows="4" required></textarea>
        <label for="ingredient">
          Digite os ingredientes separados por virgula.</label
        >
      </div>
      <div class="input-group">
        <textarea id="modoDeFazer" rows="4" required></textarea>
        <label for="modoDeFazer"> Digite o modo de fazer:</label>
      </div>
      <label for="textEx">Ex. Molho, Cobertura, recheio..."</label>
      <button type="button" (click)="openModal()">Adicionar Extra</button>

      <!-- Lista Extras add -->
      <ul
        class="lista-extra-recipe"
        *ngFor="let extra of extras; let i = index"
      >
        <li class="item-list">
          <strong>Nome:</strong> {{ extra.nome }}
          <br />
          <strong>Ingredientes:</strong>
          <span *ngIf="isArray(extra.ingredientes)">
            {{ extra.ingredientes.join(", ") }}
          </span>
          <span *ngIf="!isArray(extra.ingredientes)">
            {{ extra.ingredientes }}
          </span>
          <br />
          <strong>Modo de fazer:</strong> {{ extra.modoDeFazer }}
          <br />
        </li>
        <li class="list-btn">
          <button type="button" (click)="removeExtra(i)">
            <i class="bi bi-trash3"></i>
          </button>
        </li>
      </ul>
      <!-- Fim lista Extra -->
      <div class="column-inputs">
        <div class="left-column">
          <div class="input-group">
            <input type="file" id="photo" required />
          </div>
          <div class="input-group">
            <input type="text" id="name" required />
            <label for="name"> Categoria: </label>
          </div>
          <div class="input-group">
            <input type="text" id="name" required />
            <label for="name"> Subcategoria: </label>
          </div>
        </div>

        <div class="right-column">
          <div class="input-group">
            <input type="text" id="TempoDePreparo" required />
            <label for="TempoDePreparo"> Quanto tempo leva:</label>
          </div>
          <div class="input-group">
            <input type="text" id="Porcoes" required />
            <label for="Porcoes"> Quantas porções da para fazer: </label>
          </div>
          <div class="input-group">
            <input type="text" id="NivelDeDificuldade" required />
            <label for="NivelDeDificuldade">
              Qual o nivel de dificuldade da receita:
            </label>
          </div>
        </div>
      </div>
      <button type="submit">Enviar</button>
    </fieldset>
  </form>

  <!-- Modal -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <form (ngSubmit)="saveExtra()">
        <fieldset>
          <legend>Receita Extra:</legend>
          <div class="input-group">
            <input
              type="text"
              id="nomeExtra"
              name="nomeExtra"
              required
              [(ngModel)]="nomeExtra"
            />
            <label for="nomeExtra"> Nome da receita extra: </label>
          </div>
          <div class="input-group">
            <textarea
              id="ingredientesExtra"
              name="ingredientesExtra"
              rows="8"
              required
              [(ngModel)]="ingredientesExtra"
            ></textarea>
            <label for="ingredientesExtra"> Ingredientes: </label>
          </div>
          <div class="input-group">
            <textarea
              id="modoDeFazerExtra"
              name="modoDeFazerExtra"
              rows="8"
              required
              [(ngModel)]="modoDeFazerExtra"
            ></textarea>
            <label for="modoDeFazerExtra"> Modo de Fazer: </label>
          </div>
          <div class="btnsModel">
            <button type="submit">Salvar</button>
            <button type="submit" (click)="closeModal()">Cancelar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
